{{!-- ./views/new.handlebars --}}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h1 class="mb-3">新增支出</h1>
      <h4 class="mb-4">星號 * 為必填欄位</h4>
      {{> messages }}
      <form method="POST" action="/records/{{{record._id}}}?_method=PUT">

        <div class="form-group">
          <label for="inputName"><strong>用途 *</strong></label>
          <input type="text" class="form-control" id="inputName" name="name" placeholder="用途" value="{{record.name}}">
        </div>

        <div class="form-group">
          <label for="googleMap"><strong>金額 *</strong></label>
          <input type="number" class="form-control" id="googleMap" placeholder="金額" name="amount" step="1" min="0" value="{{record.amount}}"
          onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))"/>
        </div>

        <div class="form-group">
          <label for="inputcategory"><strong>日期 *</strong></label>
          <input type="date" class="form-control" name="date" id="inputcategory" value="{{record.date}}">
        </div>
        
        <div class="form-group">
          <label class="" for=""><strong>類別 * </strong></label>
          <select class="form-control" name="category" value="{{record.category}}">
            <option value="home">家居物業</option>
            <option value="transportation">交通出行</option>
            <option value="entertainment">休閒娛樂</option>
            <option value="food">餐飲食品</option>
            <option value="others">其他</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputDescription"><strong>店家</strong></label>
          <input type="text" class="form-control" id="inputDescription" placeholder="店家" name="merchant" value="{{record.merchant}}">
        </div>

        <button class="btn btn-primary" type="submit">修改</button>
      </form>
    </div>
  </div>
</div>